.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon-border {
    background-color: rgba(166, 209, 207, 0.747);
    border-radius: 25px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.title {
    padding: 10px
}

.thought-bubble {
    background-image: url("../icons/sherpa_icons-01.png");
}

.magnify-glass {
    background-image: url("../icons/sherpa_icons-02.png");
    
}

.apple {
    background-image: url("../icons/sherpa_icons-03.png");
    
}

.landing-icon {
    height: 100px;
    width: 100px;  
    background-size: contain;
}