.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon-border {
    background-color: rgba(166, 209, 207, 0.747);
    border-radius: 25px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.title {
    padding: 10px
}