.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.icon-border {
    height: 200px;
    width: 50%;
    background-color: rgba(166, 209, 207, 0.747);
    position: centered;
    border-radius: 25px;
}